<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="biometricParameters" type="KSDExperiments.Configuration.BiometricParametersConfigurationSection,KSDExperiments" />

    <section name="modelsAll" type="KSDExperiments.Configuration.ModelFeederConfigurationSection,KSDExperiments" />

    <section name="featuresAll" type="KSDExperiments.Configuration.FeaturesConfigurationSection,KSDExperiments" />

    <section name="attributesAll" type="KSDExperiments.Configuration.AttributesConfigurationSection,KSDExperiments" />

    <section name="modelsRegression" type="KSDExperiments.Configuration.ModelFeederConfigurationSection,KSDExperiments" />

    <section name="featuresRegression" type="KSDExperiments.Configuration.FeaturesConfigurationSection,KSDExperiments" />

    <section name="attributesRegression" type="KSDExperiments.Configuration.AttributesConfigurationSection,KSDExperiments" />

    <section name="sessionReport" type="KSDExperiments.Configuration.SessionReportConfigurationSection,KSDExperiments" />

    <section name="finiteContextsExperiment" type="KSDExperiments.Configuration.FiniteContextsExperimentConfigurationSection,KSDExperiments" />

    <section name="pipelineDBToBinary" type="KSDExperiments.Configuration.PipelineConfigurationSection,KSDExperiments" />
    <section name="pipelineQuiqueToBinary" type="KSDExperiments.Configuration.PipelineConfigurationSection,KSDExperiments" />

    <section name="pipelineProsodyGayToBinary" type="KSDExperiments.Configuration.PipelineConfigurationSection,KSDExperiments" />
    <section name="pipelineProsodyGunToBinary" type="KSDExperiments.Configuration.PipelineConfigurationSection,KSDExperiments" />
    <section name="pipelineProsodyReviewToBinary" type="KSDExperiments.Configuration.PipelineConfigurationSection,KSDExperiments" />
    <section name="pipelineOnTheShapeOfTimingDistributions_BuildHistograms" type="KSDExperiments.Configuration.PipelineConfigurationSection,KSDExperiments" />
    <section name="pipelineEmpiricalDistances" type="KSDExperiments.Configuration.PipelineConfigurationSection,KSDExperiments" />
    
    <section name="pipeline" type="KSDExperiments.Configuration.PipelineConfigurationSection,KSDExperiments" />
    <section name="pipelineTrimDataset" type="KSDExperiments.Configuration.PipelineConfigurationSection,KSDExperiments" />
    <section name="pipelineFiniteContexts" type="KSDExperiments.Configuration.PipelineConfigurationSection,KSDExperiments" />
    <section name="pipelineStrokkFT" type="KSDExperiments.Configuration.PipelineConfigurationSection,KSDExperiments" />
    <section name="pipelineGuessText" type="KSDExperiments.Configuration.PipelineConfigurationSection,KSDExperiments" />
    <section name="pipelineDatasetMineriaDeDatos" type="KSDExperiments.Configuration.PipelineConfigurationSection,KSDExperiments" />
  </configSections>

  <connectionStrings>
    <add name="DB" connectionString="Server=.;Database=STROKKFT;Integrated Security=SSPI;" />
  </connectionStrings>
  
  <appSettings>
    <add key="main.pipeline" value="pipelineEmpiricalDistances" />
    <add key="summarize.enabled" value="false" />
    <add key="distance.maxComponentValue" value="12" />

    <add key="verbose.WEKAcommands" value="false" />
    
    <add key="dataset.binary.path" value="DATASET.bin" />
    <add key="dataset.prosody.review.path" value="D:\Documents\Doctorado\Datasets\ReviewAMT_500_t.csv" />
    <add key="dataset.prosody.gay.path" value="D:\Documents\Doctorado\Datasets\GayMarriage_400.csv" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <biometricParameters name="INDEPENDENT TIMING PARAMETERS">
    <biometricParameter name="HT" />
    <biometricParameter name="FT" />
  </biometricParameters>

  <modelsAll name="ALL MODELS">
    <modelSet name="TD" parameter="ALL" type="AvgStdevModelLinear" useStandardFactory="true" maxContextSize="5" maxNGramSize="1" />
    <modelSet name="DIE" parameter="ALL" type="SimpleExponentialDirectionalityModel" useStandardFactory="true" maxContextSize="5" maxNGramSize="1" />
    <modelSet name="DIL" parameter="ALL" type="SimpleLinearDirectionalityModel" useStandardFactory="true" maxContextSize="5" maxNGramSize="1" />
    <modelSet name="HI" parameter="ALL" type="HistogramModel" useStandardFactory="true" maxContextSize="5" maxNGramSize="1" />
  </modelsAll>

  <featuresAll name="ALL FEATURES">
    <feature name="AvgStdev" type="AvgStdevFeatures" pattern="HT_TD;FT_TD" />
    <feature name="Histogram" type="HistogramFeatures" pattern="HT_HI;FT_HI" />
    <feature name="DIE" type="DIFeatures" pattern="HT_DIE;FT_DIE" />
    <feature name="DIL" type="DIFeatures" pattern="HT_DIL;FT_DIL" />
    <feature name="RMix" type="RFeature" pattern="HT_TD;FT_TD" parameters="hash" />
    <feature name="R1" type="RFeature" pattern="HT_TD;FT_TD" parameters="ngram" />
  </featuresAll>

  <attributesAll name="ALL ATTRIBUTES">
    <attribute name="FT_DM" type="ManhattanDistance" source="FT_TD_tms;FT_TD_avg;FT_TD_std" />
    <attribute name="FT_DE" type="EuclideanDistance" source="FT_TD_tms;FT_TD_avg;FT_TD_std" />
    <attribute name="FT_DMin" type="MinkowskiDistance" source="FT_TD_tms;FT_TD_avg;FT_TD_std" parameters="0.4" />
    <attribute name="FT_DC" type="CanberraDistance" source="FT_TD_tms;FT_TD_avg" />
    <attribute name="FT_Z" type="Z" source="FT_TD_tms;FT_TD_avg;FT_TD_std" />
    <attribute name="FT_HM" type="ManhattanDistance" source="FT_HI_tms;FT_HI_avg;FT_HI_std" />
    <attribute name="FT_HE" type="EuclideanDistance" source="FT_HI_tms;FT_HI_avg;FT_HI_std" />
    <attribute name="FT_HMin" type="MinkowskiDistance" source="FT_HI_tms;FT_HI_avg;FT_HI_std" parameters="0.4" />
    <attribute name="FT_HZ" type="HZ" source="FT_HI_avg" parameters="0.025" />
    <attribute name="FT_DIE" type="DI" source="FT_TD_tms;FT_DIE_dir" />
    <attribute name="FT_DIL" type="DI" source="FT_TD_tms;FT_DIL_dir" />
    <attribute name="FT_RAll" type="R" source="FT_TD_tms;FT_TD_avg" />
    <attribute name="FT_RMix" type="CopyNumericFeature" source="FT_TD_RMix" />
    <attribute name="FT_R1" type="CopyNumericFeature" source="FT_TD_R1" />

    <attribute name="HT_DM" type="ManhattanDistance" source="HT_TD_tms;HT_TD_avg;HT_TD_std" />
    <attribute name="HT_DE" type="EuclideanDistance" source="HT_TD_tms;HT_TD_avg;HT_TD_std" />
    <attribute name="HT_DMin" type="MinkowskiDistance" source="HT_TD_tms;HT_TD_avg;HT_TD_std" parameters="0.4" />
    <attribute name="HT_DC" type="CanberraDistance" source="HT_TD_tms;HT_TD_avg" />
    <attribute name="HT_Z" type="Z" source="HT_TD_tms;HT_TD_avg;HT_TD_std" />
    <attribute name="HT_HM" type="ManhattanDistance" source="HT_HI_tms;HT_HI_avg;HT_HI_std" />
    <attribute name="HT_HE" type="EuclideanDistance" source="HT_HI_tms;HT_HI_avg;HT_HI_std" />
    <attribute name="HT_HMin" type="MinkowskiDistance" source="HT_HI_tms;HT_HI_avg;HT_HI_std" parameters="0.4" />
    <attribute name="HT_HZ" type="HZ" source="HT_HI_avg" parameters="0.025" />
    <attribute name="HT_DIE" type="DI" source="HT_TD_tms;HT_DIE_dir" />
    <attribute name="HT_DIL" type="DI" source="HT_TD_tms;HT_DIL_dir" />
    <attribute name="HT_RAll" type="R" source="HT_TD_tms;HT_TD_avg" />
    <attribute name="HT_RMix" type="CopyNumericFeature" source="HT_TD_RMix" />
    <attribute name="HT_R1" type="CopyNumericFeature" source="HT_TD_R1" />
  </attributesAll>

  <modelsRegression name="REGRESSION">
    <modelSet name="AS" type="AvgStdevModelLinear" useStandardFactory="true" maxContextSize="5" maxNGramSize="1" />
<!--    <modelSet name="RAS"      type="LinearRegressionModel"                  useStandardFactory="true" maxContextSize="5" maxNGramSize="1" /> -->
  </modelsRegression>

  <featuresRegression name="ALL FEATURES">
    <feature name="AS" type="AvgStdevFeatures" pattern="AS" />
<!--        <feature name="RAS"  type="RegressionFeatures"   pattern="RAS" /> -->
  </featuresRegression>

  <attributesRegression name="ALL ATTRIBUTES">
    <attribute name="FT_DM" type="ManhattanDistance" source="FT_tms;FT_avg;FT_std" />
<!--            <attribute name="FT_DM_reg"   type="ManhattanDistance"  source="RAS_FT_tms;RAS_FT_avg;RAS_FT_std" /> -->
  </attributesRegression>

  <sessionReport showSessionAttributes="false" createLatexReport="false" showDetailedModelSelection="false" />
  
  <finiteContextsExperiment name="BLGBLG" initialTrainingSessions="50" retrain="true" calculateEERs="true" biometricParameters="biometricParameters" models="modelsAll" features="featuresAll" attributes="attributesAll" />

  <pipelineDBToBinary name="CONVERT DB DATASET TO BINARY">
    <stage name="load" type="LoadDatasetStage" action="SqlServerDatasetReader" parameters="" />
    <stage name="summarize" type="Summarize" />
    <stage name="save" type="SaveDatasetStage" parameters="DATASET-DB.bin" />
  </pipelineDBToBinary>

  <pipelineQuiqueToBinary name="CONVERT DATASET QUIQUE TO BINARY">
    <stage name="load" type="LoadDatasetStage" action="QuiqueDatasetReader" parameters="..\..\..\..\..\..\Datasets\dump.2018-12-08.csv" />
    <stage name="summarize" type="Summarize" />
    <stage name="save" type="SaveDatasetStage" parameters="DATASET_QUIQUE.bin" />
  </pipelineQuiqueToBinary>

  <pipelineProsodyGayToBinary name="CONVERT DATASET PROSODY GAY TO BINARY">
    <stage name="load" type="LoadDatasetStage" action="ProsodyDatasetReader" parameters="D:\Documents\Doctorado\Datasets\GayMarriage_400.csv" />
    <stage name="summarize" type="Summarize" />
    <stage name="save" type="SaveDatasetStage" parameters="PROSODY_GAY.bin" />
  </pipelineProsodyGayToBinary>

  <pipelineProsodyGunToBinary name="CONVERT DATASET PROSODY GUN TO BINARY">
    <stage name="load" type="LoadDatasetStage" action="ProsodyDatasetReader" parameters="D:\Documents\Doctorado\Datasets\GunControl_400.csv" />
    <stage name="summarize" type="Summarize" />
    <stage name="save" type="SaveDatasetStage" parameters="PROSODY_GUN.bin" />
  </pipelineProsodyGunToBinary>

  <pipelineProsodyReviewToBinary name="CONVERT DATASET PROSODY REVIEW TO BINARY">
    <stage name="load" type="LoadDatasetStage" action="ProsodyDatasetReader" parameters="D:\Documents\Doctorado\Datasets\ReviewAMT_500_t.csv" />
    <stage name="summarize" type="Summarize" />
    <stage name="save" type="SaveDatasetStage" parameters="PROSODY_REVIEW.bin" />
  </pipelineProsodyReviewToBinary>
  
  <pipelineOnTheShapeOfTimingDistributions_BuildHistograms name="BUILD HISTOGRAMS FOR ARTICLE ON THE SHAPE OF TIMING DISTRIBUTIONS">
    <stage name="load1" type="LoadDatasetStage" action="ProsodyDatasetReader" parameters="..\..\..\..\..\..\Datasets\GayMarriage_400.csv" />
    <stage name="load2" type="LoadDatasetStage" action="ProsodyDatasetReader" parameters="..\..\..\..\..\..\Datasets\GunControl_400.csv" />
    <stage name="load3" type="LoadDatasetStage" action="ProsodyDatasetReader" parameters="..\..\..\..\..\..\Datasets\ReviewAMT_500_t.csv" />
    <stage name="load4" type="LoadDatasetStage" action="KillourhyMaxionDatasetReader" parameters="..\..\..\..\..\..\Datasets\DSL-Free-vs-Transcribed\data" />
    <stage name="load5" type="LoadDatasetStage" action="BinaryDatasetReader" parameters="DATASET_SHORT.bin" />
    <stage name="run" type="OTSTD_BuildHistograms" action="" parameters="" />
  </pipelineOnTheShapeOfTimingDistributions_BuildHistograms>

  <pipelineEmpiricalDistances parallel="true" name="BUILD HISTOGRAMS FOR ARTICLE ON EMPIRICAL DISTANCES">
    <stage name="load4" type="LoadDatasetStage" action="KillourhyMaxionDatasetReader" parameters="..\..\..\..\..\..\Datasets\DSL-Free-vs-Transcribed\data" />
    <!--
    <stage name="load5" type="LoadDatasetStage" action="BinaryDatasetReader"  parameters="DATASET_SHORT.bin" />
    -->  
    <stage name="split" type="ThresholdPartitioner" />
    <stage name="fts" type="CleanFTs" />
    <stage name="run" type="ED_EvaluateDistances" cfg="finiteContextsExperiment" action="" parameters="" />
  </pipelineEmpiricalDistances>

  <pipeline name="REPORT BINARY">
    <stage name="load" type="LoadDatasetStage" action="BinaryDatasetReader" />
    <stage name="trim1" type="Trim" action="session_keystrokes_min" parameters="50" />
    <stage name="trim2" type="Trim" action="session_keystrokes_max" parameters="200" />
    <stage name="trim3" type="Trim" action="user_sessions_min" parameters="5" />
    <stage name="trim4" type="Trim" action="user_sessions_max" parameters="10" />
    <stage name="summarize" type="Summarize" />
    <!--
    <stage name="ngrams"    type="CollectAverageNGrams"       parameters="3" />
    <stage name="manhattan" type="NaiveDistanceEERExperiment" action="Manhattan" />
    <stage name="euclidean" type="NaiveDistanceEERExperiment" action="Euclidean" />
    <stage name="report"    type="UserSessionsReport" />
    -->
  </pipeline>
  
  <pipelineTrimDataset name="TRIM DATASET">
    <stage name="load" type="LoadDatasetStage" action="BinaryDatasetReader" parameters="DATASET_QUIQUE.bin" />
    <stage name="trim1" type="Trim" action="session_keystrokes_min" parameters="250" />
    <stage name="trim2" type="Trim" action="alphanumeric_rate" parameters="50" />
    <stage name="trim3" type="Trim" action="alphanumeric_variety" parameters="20" />
    <stage name="trim4" type="Trim" action="user_sessions_min" parameters="50" />
    <stage name="summarize" type="Summarize" />
    <stage name="save" type="SaveDatasetStage" parameters="DATASET_GUESS.bin" />
  </pipelineTrimDataset>

  <pipelineFiniteContexts name="FINITE CONTEXTS" parallel="false">
    <stage name="clean" type="CleanOutput" />
    <!-- <stage name="load" type="LoadDatasetStage" action="BinaryDatasetReader" parameters="DATASET_SHORT.bin" /> -->
    <stage name="load" type="LoadDatasetStage" action="BinaryDatasetReader" parameters="DATASET_GUESS.bin" />
    <stage name="split" type="ThresholdPartitioner" />
    <stage name="fts" type="CleanFTs" />
    <stage name="run" type="FiniteContextsExperiment" action="authenticate" cfg="finiteContextsExperiment" />
  </pipelineFiniteContexts>

  <pipelineStrokkFT name="EVALUATE DB DATASET">
    <stage name="clean" type="CleanOutput" />
    <stage name="load_leg" type="LoadDatasetStage" action="SqlServerDatasetReader" parameters="" />
    <stage name="load_imp" type="LoadDatasetStage" action="BinaryDatasetReader" parameters="DATASET_SHORT.bin" />
    <stage name="trim1" type="Trim" action="session_keystrokes_min" parameters="100" />
    <stage name="trim2" type="Trim" action="alphanumeric_rate" parameters="40" />
    <stage name="trim3" type="Trim" action="alphanumeric_variety" parameters="10" />
    <stage name="summarize" type="Summarize" />
    <stage name="split" type="ThresholdPartitioner" />
    <stage name="fts" type="CleanFTs" />   
    <stage name="run" type="FiniteContextsExperiment" action="authenticate" cfg="finiteContextsExperiment" />
  </pipelineStrokkFT>

  <pipelineGuessText name="GuessTextExperiment">
    <stage name="clean" type="CleanOutput" />
    <stage name="load" type="LoadDatasetStage" action="BinaryDatasetReader" parameters="DATASET_GUESS.bin" />
    <stage name="split" type="ThresholdPartitioner" />
    <stage name="fts" type="CleanFTs" />
    <stage name="run" type="ClassifyTextExperiment" action="" cfg="finiteContextsExperiment" />
  </pipelineGuessText>

  <pipelineDatasetMineriaDeDatos name="DatasetMineriaDeDatos">
    <stage name="clean" type="CleanOutput" />
    <stage name="load" type="LoadDatasetStage" action="BinaryDatasetReader" parameters="DATASET_GOOD.bin" />
    <stage name="split" type="ThresholdPartitioner" />
    <stage name="fts" type="CleanFTs" />
    <stage name="run" type="DatasetMineriaDeDatos" />
  </pipelineDatasetMineriaDeDatos>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
