\documentclass[a4]{article}

\usepackage[margin=0.5in]{geometry}

\usepackage{float}
\usepackage{graphicx}
\setkeys{Gin}{keepaspectratio}

\usepackage[utf8]{inputenc}
\usepackage{color}

\usepackage{amsmath}
\usepackage{amsthm}
\usepackage{amssymb}

\usepackage{tikz}
\usepackage{tikz-qtree}
\usepackage{forest}

\newcommand{\comment}[1]{}

\endofdump

\begin{document}

\huge{USER <%=user%>}

\vspace{3mm}
<%=sessions%>

\end{document}
